$borderColor: #2c3e50;
$borderWidth: 0.5rem;
$nodeSide: 30px;
$playerColor: red;
$exitColor: black;
$nodeBackground: lightcyan;

h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

#gameboard {
  font-size: 0;
  margin: 0;
  padding: 0;
  line-height: 1.25;
}

.node {
  background-color: $nodeBackground;
  width: $nodeSide;
  height: $nodeSide;
  display: inline-block;
  position: relative;
}

.home:focus {
  outline: none;
  border: none;
}

.aboveBorder {
  border-top: $borderWidth solid $borderColor;
}

.rightBorder {
  border-right: $borderWidth solid $borderColor;
}

.belowBorder {
  border-bottom: $borderWidth solid $borderColor;
}

.leftBorder {
  border-left: $borderWidth solid $borderColor;
}

.abovePadding {
  padding-top: $borderWidth;
}

.rightPadding {
  padding-right: $borderWidth;
}

.belowPadding {
  padding-bottom: $borderWidth;
}

.leftPadding {
  padding-left: $borderWidth;
}

.bottomRightCorner {
	position: absolute;
	width: $borderWidth;
	height: $borderWidth;
	background-color: $borderColor;
	bottom: 0;
	right: 0;
}

.player {
  background-color: $playerColor;
}

.small-circle {
  position: absolute;
  width: $borderWidth * 3;
  height: $borderWidth * 3;
  border-radius: 50%;
  left: 5%;
  top: 5%;
}

.exit {
  background-color: $exitColor;
}
