<div class="node" :class="{
  aboveBorder: hasAboveBorder(),
  rightBorder: hasRightBorder(),
  belowBorder: hasBelowBorder(),
  leftBorder: hasLeftBorder(),
  abovePadding: !hasAboveBorder(),
  rightPadding: !hasRightBorder(),
  belowPadding: !hasBelowBorder(),
  leftPadding: !hasLeftBorder()
}">
</div>

<!-- aboveBorder: hasAboveBorder(),
  rightBorder: hasRightBorder(),
  belowBorder: hasBelowBorder(),
  leftBorder: hasLeftBorder(),
  abovePadding: !hasAboveBorder(),
  rightPadding: !hasRightBorder(),
  belowPadding: !hasBelowBorder(),
  leftPadding: !hasLeftBorder() -->
